.debateWrite{
  background-color: var(--neutral);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.debateAuto{
  margin-top: 38px;
  margin-bottom: 364px;
}

.writeTop{
  display: flex;
  align-items: center;
}

.writeBack{
  width: 45px;
  height: 45px;
}

.topTitle{
  color: var(--gray_800);
  font-size: 24px;
  font-weight: 600;
  margin-left: 2px;
}

.writeMain{
  background-color: white;
  border-radius: 15px;
  width: 736px;
  height: 444px;
  margin-top: 16px;
}

.titleArea{
  width: 672px;
  height: 45px;
  border-radius: 7px;
  background-color: var(--neutral2);
  border: none;
  margin: 32px 32px 0;
}

.contentArea{
  width: 672px;
  height: 219px;
  border-radius: 7px;
  background-color: var(--neutral2);
  border: none;
  margin: 16px 32px 0;
  resize: none;
}

.writeImg{
  display: flex;
  align-items: center;
  margin: 8px 0 0 32px;
}

.photo_select{
  width: 16px;
  height: 16px;
}

.photo_name{
  color: var(--gray_500);
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 2px;
}

.completeBtn{
  width: 671px;
  height: 44px;
  border-radius: 7px;
  background-color: var(--neutral);
  border: none;
  margin: 32px 33px;
}