/*댓글창*/
.debatedetail_comment{
  position: relative;
  width: 736px;
  
  border-radius: 15px;
  
  background-color: white;
  box-shadow: 0px 1px 4px 0px var(--neutral2);

  margin-bottom: 16px;
}

.debate_comment{
  width: 680px;
  min-height: 62px;
  overflow-y: hidden;
  resize: none;
  border: none;
  padding: 16px;
  border-radius: 15px;
  
  color: var(--gray_800);
  font-size: 16px;
  font-weight: 400;
}

.debate_comment::placeholder{
  color: var(--gray_500);
  font-size: 16px;
  font-weight: 400;
}

.debate_comment:focus{
  outline: none;
}

.comment_enroll{
  width: 49px;
  height: 30px;
  border-radius: 7px;
  border: none;
  background-color: var(--neutral2);
  color: var(--gray_500);
  font-size: 14px;
  font-weight: 600;

  position: absolute;
  top: 16px;
  right: 16px;
}

.comment_enroll.active{
  background-color: var(--primary);
  color: white;
}

/*댓글 리스트*/

.CommentItem{
  background-color: white;
  border-bottom: 1px solid var(--neutral);
}


.CommentItem:first-child{
  border-radius: 15px 15px 0 0;
  padding: 24px 16px 12px 24px;
}

.CommentItem:last-child{
  border-radius: 0 0 15px 15px;
  padding: 12px 16px 12px 24px;
}

.CommentItem:not(:first-child):not(:last-child){
  padding: 12px 16px 12px 24px;
}

.CommentListAll :only-child{
  border-radius: 15px;
  padding-bottom: 6px;
}


.comments_info{
  display: flex;
  justify-content: space-between;
}

.comments_info div{
  display: flex;
}

.comment_profile{
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

.comment_author{
  margin-left: 4px;
  color: var(--gray_800);
  font-weight: 600;
}

.comment_date{
  color: var(--gray_500);
  font-size: 16px;
  font-weight: 400;
}

.comment_more{
  width: 24px;
  height: 24px;
}

.comments_content{
  margin: 6px 0;
}

.content_value{
  padding: 0 !important;
  color: var(--gray_800);
  font-size: 16px;
  font-weight: 400;
}

.comments_reaction{
  display: flex;
  align-items: center;
}

.comment_thumb{
  width: 14px;
  height: 14px;
}

.commentThumbNum{
  color: var(--gray_500);
  font-size: 12px;
  font-weight: 500;
  margin-left: 2px;
}

.comment_comment{
  color: var(--gray_500);
  font-size: 12px;
  font-weight: 400;
  margin-left: 8px;
}

/*대댓글 모달*/
.second_comment{
  color: var(--gray_800);
  font-size: 18px;
  font-weight: 600;
}

.second_textarea{
  width: 685px;
  height: 200px;
  resize: none;
  border-radius: 7px;
  background-color: var(--neutral2);
  border: none;
  margin-top: 8px;
  padding: 16px;
  color: var(--gray_800);
}

.second_btn{
  width: 685px;
  height: 44px;
  color: var(--gray_800);
  border-radius: 7px;
  border: none;
  background-color: var(--neutral);
  margin-top: 10px;
}

.second_btn.active{
  background-color: var(--primary);
  color: white;
}

/*댓글 메뉴*/
.menu_list{
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: white;
  margin-top: 30px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 15px;
  width: 96px;
  box-shadow: 0px 4px 10px 0px var(--neutral);
}

.menu_list div{
  padding: 6px 16px;
}

/*대댓글 UI*/
.CommentReplyItem{
  display: flex;
  margin-top: 8px;
}

.commentreply_img{
  width:9px;
  height: 9px;
}

.commentreply_all{
  width: 690px;
  margin-left: 8px;
}

.commentreply_info{
  display: flex;
  justify-content: space-between;
}

.commentreply_author{
  color: var(--gray_800);
  font-size: 15px;
  font-weight: 600;
}

.commentreply_right{
  display: flex;
}

.commentreply_date{
  color: var(--gray_500);
  font-size: 16px;
  font-weight: 400;
}

.commentreply_reaction{
  display: flex;
  margin-top: 5px;
}

.commentreply_favoriteNum{
  font-size: 12px;
  color: var(--gray_500);
  font-weight: 500;
  margin-left: 2px;
}

/*대댓글 수정 UI*/
.content_value_textarea{
  resize: none;
  border-radius: 0px !important;
  width: 600px;
}