/*내가 참여한 토론 모아보기*/
/*내가 주최한 토론 모아보기*/
.MyParticipate, .MyHost, .DebateAll, .DebateOne, .DebateDetail{
  background-color: var(--neutral);
}

.myparticipate_page, .myhost_page, .debateall_page, .debateone_page, .debatedetail_page{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 38px;
  padding-bottom: 30px;
  width: 736px;
}

.myparticipate_title, .myhost_title, .debateall_title, .debateone_title, .debatedetail_title{
  display: flex;
}

.myparticipate_back, .myhost_back, .debateall_back, .debateone_back, .debatedetail_back{
  width: 45px;
  height: 45px;
}

.myparticipate_title h2, .myhost_title h2, .debateall_title h2, .debateone_title h2, .debatedetail_title h2{
  color: var(--gray_800);
  font-size: 24px;
  font-weight: 600;
  margin: 0;
  display: flex;
  align-items: center;
  padding-left: 0px !important;
}

.debate_write{
  width: 65px;
  height: 28px;
  border-radius: 15px;
  background-color: var(--primary);
  border: none;
  font-size: 12px;
  color: white;
  font-weight: 500;
  margin-top: 9px;
  margin-left: 440px;
  padding: 0px !important;
}

.DebateList, .DetailList{
  margin-top: 16px;
}

/*DebateItem*/
.DebateItem, .DetailItem{
  background-color: white;
  border-radius: 15px;
  margin-bottom: 16px;
  padding: 24px;
}

.debateInfo{
  display: flex;
  justify-content: space-between;
}

.movieInfo{
  display: flex;
  flex-direction: column;
}

.movieDebate{
  color: var(--gray_500);
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 3px;
}

.debateTitle{
  color: var(--gray_800);
  font-size: 22px;
  font-weight: 600;
}

.writeDate{
  color: var(--gray_800);
  font-size: 14px;
  font-weight: 400;  
  margin-top: 28px;
}


.debateImg{
  width: 687px;
  height: 392px;
  border-radius: 7px;
  margin-top: 16px;
}

.debateImgMain div{
  margin-top: 16px;
}

.debateReaction{
  display: flex;
  border-top: 1px solid var(--neutral);
  margin-top: 24px;
  padding-top: 16px;

}

.debateFavorite, .debateComment{
  display: flex;
  align-items: center;
}

.debateComment{
  margin-left: 8px;
}

.debatethumb, .debatereply{
  width: 14px;
  height: 14px;
}

.debatethumbNum, .debatecommentNum{
  color: var(--gray_500);
  margin-left: 2px;
  padding-bottom: 3px;
}

.disable-click {
  pointer-events: none;
}