.poster_img{
  width: 88px;
  height: 125px;
  border-radius: 15px;
}

.slick-slider{
  display: flex;
}

.sliderAll{
  position: relative;
  margin-right: 17px;
}


/*슬라이드 버튼*/
.sliderBtn{
  width: 30px;
  height: 30px;
  background-color: white;
  border: none;
  margin: auto 0;
}

#prevBtn img{
  transform: rotate(180deg);
}

.sliderBtn img{
  width: 20px;
  height: 20px;
}