/* 모달 전체 스타일 */
.modal {
  position: relative;
  max-width: 800px;
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
    0px 5px 8px 0px rgba(0, 0, 0, 0.14), 0px 1px 14px 0px rgba(0, 0, 0, 0.12);
  background: white;
  overflow: hidden;
  border-radius: 8px;
  transition: all 400ms ease-in-out 2s;
  animation: fadeIn 400ms;
}

.modal__container {
  padding: 30px;
}

/* 모달 내 포스터 이미지 스타일 */
.modal__poster-img {
  width: 100%;
  height: auto;
}

/* 모달 제목 스타일 */
.modal__title {
  padding: 0;
  font-size: 40px;
  margin: 5px 0;
  color: var(--gray_800);
}

.modal__title-eng {
  color: var(--gray_800);
  margin: 0;
}

.modal__program-etc {
  color: var(--gray_800);
  margin: 0;
}

.modal__program-etc p {
  margin: 3px 0;
}

/* 모달 내 평점과 버튼 스타일 */
.modal__ratings_and_buttons {
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
}

/* 모달 내 컨텐츠 스타일 */
.modal__content {
  color: grey;
}

.modal__tagline {
  font-size: 22px;
  font-weight: bold;
  color: grey;
  margin: 0;
}

/* 모달 개요 스타일 */
.modal__overview {
  font-size: 20px;
  line-height: 1.5;
  margin: 0;
  padding: 16px 0;
}

/* 모달 세부 정보 스타일 */
.modal__details {
  font-weight: 600;
  font-size: 18px;
}

/* 모달 사용자 백분율 스타일 */
.modal__user-perc {
  color: #46d369;
}

.modal::-webkit-scrollbar {
  display: none;
  visibility: hidden;
}

/* Hide scrollbar for IE, Edge and Firefox */
.modal {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

/* 모달 래퍼 스타일 */
.wrapper-modal {
  position: fixed;
  inset: 0px;
  background-color: rgb(0 0 0 / 71%);
  -webkit-tap-highlight-color: transparent;
  display: flex;
  justify-content: center;
}

.presentation {
  z-index: 1200;
  position: absolute;
}

.modal-close {
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
  z-index: 1000;
  color: white;
}

/* 반응형 디자인 */
@media screen {
  .wrapper-modal {
    align-items: unset;
    padding-top: 2rem;
  }

  .modal {
    overflow-y: scroll;
  }
}

@media screen {
  .modal__overview {
    font-size: 16px;
  }

  .modal__details {
    font-size: 16px;
  }

  .wrapper-modal {
    padding: 0;
  }

  .modal {
    overflow-y: scroll !important;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.5);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

/* 모달 내 OTT 스타일 */
.modal__ott {
  margin: 0 0 30px 0;
}

.ott_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* 수직 가운데 정렬 */
}

.ott_header h2 {
  margin: 15px 0;
}

.service-box {
  border-radius: 15px;
  background: var(--White, #fff);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.12);
  /* 여백 추가 */
  padding: 1rem;
  margin: 0 0 10px 0;
  display: flex;
  align-items: center;
  /* 수직 가운데 정렬 */
}

.service-box img {
  width: 43px;
  border-radius: 7px;
}

.service-box p {
  margin: 0 15px;
  font-size: 14px;
}

/* 태그 버튼 스타일 */
.tag-button {
  margin: 5px;
  padding: 8px 12px;
  background-color: #eee;
  border: 1px solid #ccc;
  cursor: pointer;
}

/* 선택된 태그 버튼 스타일 */
.tag-button-selected {
  margin: 5px;
  padding: 8px 12px;
  background-color: #3277d8;
  border: 1px solid #285f9a;
  color: white;
  cursor: pointer;
}

.modal__overview {
  position: relative;
}

/* 모달 내 별점 스타일 */
.modal__ratings {
  display: flex;
  text-align: center;
  gap: 25px;
}

.average-rating {
  /* 숫자 위로 얼마나 올릴지 조정해주세요 */
  top: -20px;
  /* 왼쪽 정렬인 경우 */
  text-align: start;
}

.average-rating p {
  margin: 0;
}

.average-rating_rating {
  color: grey;
  font-size: 32px;
  padding-bottom: 5px;
}

.average-rating_text {
  color: var(--gray_800);
}

.fan-rating {
  /* 숫자 위로 얼마나 올릴지 조정해주세요 */
  top: -20px;
  /* 왼쪽 정렬인 경우 */
  text-align: start;
}

.fan-rating p {
  margin: 0;
}

.fan-rating_rating {
  color: var(--primary);
  font-size: 32px;
  padding-bottom: 5px;
}

.fan-rating_text {
  color: var(--gray_800);
}

/* MovieModal.css 파일 내 */
/* debate 이미지의 색상 변경 */
img[src*="my_debate.png"] {
  background-color: white;
}

/* 또는 이미지의 src를 사용하는 경우 */
img[src*="heart.png"] {
  filter: hue-rotate(180deg);
  background-color: white;
}

/* 모달 내 버튼 스타일 */
.modal__buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  gap: 5px;
  margin: 0;
}

.modal__buttons button {
  margin: 0;
  padding: 0 3px;
}

.modal__buttons p {
  margin: 3px;
  font-size: 14px;
  color: var(--gray_500);
}

/* 버튼 공통 스타일 */
button {
  background-color: transparent;
  border: 1px solid transparent;
  color: black;
  cursor: pointer;
  /* padding: 8px 16px; */
  /* margin: 4px; */
  font-size: 16px;
}

/* 찜하기 텍스트 색상 변경 */
.heart-button-selected p {
  color: var(--primary);
}

/* 관심없어요 텍스트 색상 변경 */
.not-interested-button-selected p {
  color: var(--danger);
}

.streaming-button-selected {
  color: var(--primary);
  text-decoration: underline;
}

.rent-button-selected {
  color: var(--primary);
  text-decoration: underline;
}

.buy-button-selected {
  color: var(--primary);
  text-decoration: underline;
}