/* 레이아웃 스타일 */
.preferences-layout {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 10px 0;
    /* 상하 여백 수정 */
}

/* 수정된 '적용하기' 버튼 스타일 */
.apply-button {
    border-radius: 15px;
    background: var(--Primary-Primary, #FD7E14);
    color: white;
    border: none;
    padding: 10px 500px;
    /* 버튼 가로 길이 조정 */
    cursor: pointer;
    margin-top: 10px;
    display: block;
    /* 요소를 블록 요소로 설정하여 중앙 정렬하기 위해 추가 */
    margin: 0 auto;
    /* 가운데 정렬 */
}

/* 수정된 '전체 취소하기' 버튼 스타일 */
.clear-button {
    border-radius: 15px;
    background: var(--Orange-100, #FFE5D0);
    color: black;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    display: block;
    /* 요소를 블록 요소로 설정하여 중앙 정렬하기 위해 추가 */
    margin: 0 auto;
    /* 가운데 정렬 */
}


/* 수정된 레이아웃 스타일 */
.preferences-layout {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    padding: 10px 0;
    /* 상하 여백 수정 */
}

/* 제목의 기본 스타일 */
.title-typography {
    color: var(--Black, #212121);
    font-family: Pretendard;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 44px;
    text-align: center;
    /* 텍스트 가운데 정렬 */
}

/* '취향'이라는 단어의 스타일 */
.highlight {
    color: var(--Primary-Primary, #FD7E14);
    text-align: center;
    /* 텍스트 가운데 정렬 */
}

/* select 요소의 레이아웃 스타일 */
.select-layout {
    display: flex;
    width: 736px;
    padding: 6px 8px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin: 0 auto;
    /* 가운데 정렬 */
}

/* 선택된 옵션의 스타일 */
.select-option {
    border-radius: 7px;
    border: 0.5px solid var(--Neutral, #D9D9D9);
    background: var(--White, #FFF);
}

/* 장르 버튼 레이아웃 스타일 */
.genre-buttons {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    grid-gap: 8px;
    justify-items: center;
    align-items: center;
    padding: 4px 8px;
    margin: 0 auto;
    /* 가운데 정렬 */
}

/* 일반 장르 버튼 스타일 */
.genre-button {
    border-radius: 15px;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

/* 선택된 장르 버튼 스타일 */
.genre-button.selected {
    border-radius: 15px;
    border: 1px solid var(--primary, #FD7E14);

}

h3 {
    text-align: center;
}